:root {
  --backdrop-background: rgba(0, 0, 0, 0.4);
}

// dark theme colors
$dark-board-bg: #20212c;
$dark-scroll-bg: #3e3f4e;
$dark-border: #3e3f4e;
$dark-primary: #2b2c37;
$dark-text-primary: #fff;
$dark-text-secondary: #828fa3;
$dark-theme-bg: #20212c;
$dark-checked: rgba(255, 255, 255, 0.5);
$dark-btn-bg: #635fc7;
$dark-btn-hover: #a8a4ff;
$dark-warning: #ea5555;
$dark-shadow: 0px 4px 6px rgba(54, 78, 126, 0.15);
$dark-checkbox-hover: rgba(99, 95, 199, 0.25);
$dark-task-empty-border: rgba(130, 143, 163, 0.4);
$dark-gradient: linear-gradient(to bottom, rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0));

// light theme colors
$light-board-bg: #f4f7fd;
$light-scroll-bg: #828fa3;
$light-border: #e4ebfa;
$light-primary: #fff;
$light-text-primary: #000;
$light-text-secondary: #828fa3;
$light-theme-bg: #f4f7fd;
$light-checked: rgba(0, 0, 0, 0.5);
$light-btn-bg: #635fc7;
$light-btn-hover: #a8a4ff;
$light-warning: #ea5555;
$light-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
$light-checkbox-hover: rgba(99, 95, 199, 0.25);
$light-btn-secondary: #f0effa;
$light-task-empty-border: rgba(130, 143, 163, 0.4);
$light-gradient: linear-gradient(to bottom, rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0));

// Dots
$dot-0: #49c4e5;
$dot-1: #8471f2;
$dot-2: #67e2ae;
$dot-3: #e5a449;
$dot-4: #2a3fdb;
$dot-5: #c36e6e;
