// dark theme colors
$dark-board-bg: #20212c;
$dark-scroll-bg: #3e3f4e;
$dark-border: #3e3f4e;
$dark-primary: #2b2c37;
$dark-text-primary: #fff;
$dark-text-secondary: #828fa3;
$dark-theme-bg: #20212c;
$dark-checked: rgba(255, 255, 255, 0.5);
$dark-btn-bg: #635fc7;
$dark-btn-hover: #a8a4ff;
$dark-warning: #ea5555;
$dark-shadow: 0px 4px 6px rgba(54, 78, 126, 0.15);
$dark-checkbox-hover: rgba(99, 95, 199, 0.25);
$dark-task-empty-border: rgba(130, 143, 163, 0.4);
$dark-gradient: linear-gradient(to bottom, rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0));
$dark-gradient-skeleton: linear-gradient(to right, transparent 0%, #383946 50%, transparent 100%);
