.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  height: calc(100vh - 96px);
  padding: 1.5em 0;

  transition: transform 0.3s ease;

  h3 {
    margin-left: 2.5em;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  @media (max-width: 768px) or (max-height: 600px) {
    display: none;
  }
}

.hidden {
  position: absolute;
  transform: translateX(-100%);
}

.sidebar-mobile {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h3 {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.sidebar-mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  ul {
    width: 275px;
    button {
      border-radius: 30px;
    }
  }

  // selector for toggle theme button
  div {
    margin-left: 0;
  }
}
