.dark {
  .form {
    color: $dark-text-primary;
  }

  .form-description {
    color: $dark-text-secondary;

    span {
      color: $dark-text-primary;
    }
  }

  .form-subtasks-list,
  .form-columns-list {
    &::-webkit-scrollbar {
      background: $dark-board-bg;
    }
    &::-webkit-scrollbar-corner {
      background: $dark-board-bg;
    }
    &::-webkit-scrollbar-thumb {
      background: $dark-scroll-bg;

      &:hover {
        background: $dark-btn-bg;
      }
    }
  }

  .form-nav {
    h3 {
      color: $dark-text-secondary;
    }
  }
}
