.dark {
  &.App {
    background: $dark-theme-bg;
  }

  .btn-select-board {
    color: $dark-text-secondary;
    svg path {
      fill: $dark-text-secondary;
    }
  }

  .btn-create-board {
    color: $dark-btn-bg;
    svg path {
      fill: $dark-btn-bg;
    }
  }

  .btn-select-board.active {
    background-color: $dark-btn-bg;
    color: $dark-text-primary;
    svg path {
      fill: $dark-text-primary;
    }
  }

  .btn-select-board:hover {
    background-color: $dark-btn-hover;
    color: $dark-text-primary;
    svg path {
      fill: $dark-text-primary;
    }
  }

  .btn-create-board:hover {
    background-color: $dark-btn-bg;
    color: $dark-text-primary;
    svg path {
      fill: $dark-text-primary;
    }
  }

  .button-add-task,
  .button-form-primary {
    background-color: $dark-btn-bg;
    color: $dark-text-primary;

    &:hover {
      background-color: $dark-btn-hover;
    }
  }

  .button-form-secondary {
    color: $dark-btn-bg;
    background-color: $dark-text-primary;

    &:hover {
      color: $dark-text-primary;
      background-color: $dark-btn-bg;
    }
  }
}
