.light {
  &.App {
    background: $light-theme-bg;
  }

  .button-select-board {
    color: $light-text-secondary;
    svg path {
      fill: $light-text-secondary;
    }
  }

  .button-create-board {
    color: $light-btn-bg;
    svg path {
      fill: $light-btn-bg;
    }
  }

  .button-select-board.active {
    background-color: $light-btn-bg;
    color: $light-text-primary;
    svg path {
      fill: $light-text-primary;
    }
  }

  .button-select-board:hover {
    background-color: $light-btn-hover;
    color: $light-primary;
    svg path {
      fill: $light-primary;
    }
  }

  .button-create-board:hover {
    background-color: $light-btn-bg;
    color: $light-primary;
    svg path {
      fill: $light-primary;
    }
  }

  .button-add-task,
  .button-form-primary {
    background-color: $light-btn-bg;
    color: $light-primary;

    &:hover {
      background-color: $light-btn-hover;
    }
  }

  .button-form-secondary {
    color: $light-btn-bg;
    background-color: $light-btn-secondary;

    &:hover {
      color: $light-primary;
      background-color: $light-btn-hover;
    }
  }

  .button-hide-sidebar {
    color: $light-text-secondary;

    &:hover {
      color: $light-text-primary;
      svg path {
        fill: $light-text-primary;
      }
    }
  }

  .button-text-primary {
    color: $light-text-secondary;
  }

  .button-text-warning {
    color: $light-warning;
  }

  .button-add-column {
    background: $light-gradient;
    color: $light-text-secondary;

    &:hover {
      color: $light-btn-bg;
    }
  }

  .button-popup {
    &:hover {
      background-color: $light-board-bg;
    }
  }
}
