@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans'), url('../shared/assets/fonts/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'JosefinSans';
  src: local('Plus Jakarta Sans'), url('../shared/assets/fonts/PlusJakartaSans-Regular.ttf');
  font-weight: 400;
}
