*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

ul {
  list-style: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.column-dot--0 {
  background-color: $dot-0;
}
.column-dot--1 {
  background-color: $dot-1;
}
.column-dot--2 {
  background-color: $dot-2;
}
.column-dot--3 {
  background-color: $dot-3;
}
.column-dot--4 {
  background-color: $dot-4;
}
.column-dot--5 {
  background-color: $dot-5;
}
