@import './Button/btn-dark.scss';
@import './Header/header-dark.scss';
@import './Sidebar/sidebar-dark.scss';
@import './Column/column-dark.scss';
@import './Board/board-dark.scss';
@import './Task/task-dark.scss';
@import './PopupWindow/popup-window-dark.scss';
@import './Checkbox/checkbox-dark.scss';
@import './SelectInput/select-input-dark.scss';
@import './Form/form-dark.scss';
@import './Modal/modal-dark.scss';
@import './Input/input-dark.scss';
@import './InputsList/inputs-list-dark.scss';
@import './Select/select-dark.scss';
@import './Loader/loader-dark.scss';

.dark {
  .App {
    background: $dark-theme-bg;
    color: $dark-text-primary;
  }

  .error-text {
    display: block;
    margin-top: 0.5em;
    font-size: 0.75em;
    color: $dark-warning;
  }
}
