.board-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
}

.board-name {
}

.board-controls {
  display: flex;
  align-items: center;
  gap: 1em;
}

.popup-wrapper {
  position: relative;
}
