.light {
  .form {
    color: $light-text-primary;
  }

  .form-description {
    color: $light-text-secondary;

    span {
      color: $light-text-primary;
    }
  }

  .form-nav {
    h3 {
      color: $light-text-secondary;
    }
  }
}
