.dark {
  .board {
    &::-webkit-scrollbar {
      background: $dark-primary;
    }
    &::-webkit-scrollbar-corner {
      background: $dark-board-bg;
    }
    &::-webkit-scrollbar-thumb {
      background: $dark-scroll-bg;

      &:hover {
        background: $dark-btn-bg;
      }
    }
  }
}
