.dark {
  .task {
    box-shadow: $dark-shadow;
    background-color: $dark-primary;
    &-name {
      color: $dark-text-primary;
    }
    &-subtasks {
      color: $dark-text-secondary;
    }
  }

  .skeleton-task {
    box-shadow: $dark-shadow;
    background-color: $dark-primary;

    &::before {
      background: $dark-gradient-skeleton;
    }
  }
}
