.light {
  .task {
    box-shadow: $light-shadow;
    background-color: $light-primary;
    &-name {
      color: $light-text-primary;
    }
    &-subtasks {
      color: $light-text-secondary;
    }
  }

  .skeleton-task {
    box-shadow: $light-shadow;
    background-color: $light-primary;

    &::before {
      background: $light-gradient-skeleton;
    }
  }
}
