.button {
  width: 100%;
  padding: 1em 1.25em;
  border: none;
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  transition: background 0.2s ease, color 0.2s ease, scale 0.3s ease,
    transform 0.3s ease;

  svg path {
    transition: fill 0.3s ease;
  }
}

.button-add-task {
  max-width: 10em;
  border-radius: 30px;
}
