.button {
  width: 100%;
  padding: 1em 1.25em;
  border: none;
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  transition: background 0.3s ease, color 0.3s ease, scale 0.3s ease,
    transform 0.3s ease, opacity 0.3s ease;

  svg path {
    transition: fill 0.3s ease;
  }
}

.button-add-task {
  min-width: 10em;
  border-radius: 30px;
}

.button-form-primary,
.button-form-secondary,
.button-form-warning {
  padding: 0.6em 1.2em;
  border-radius: 30px;
  font-size: 0.8em;
}

.button-board,
.button-create-board {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 275px;
  border-radius: 0 30px 30px 0;
  padding-left: 1.75em;

  &:hover {
    scale: 1.05;
  }
}

.button-create-board {
  &:hover {
    text-decoration: underline;
  }
}

.button-hide-sidebar {
  display: flex;
  align-items: center;
  padding-left: 2em;
  svg {
    margin-right: 0.75em;
  }

  &:hover {
    transform: translateX(5%);
  }
}

.button-text-primary,
.button-text-warning {
  width: unset;
  padding: 0;
  font-weight: 400;

  &:hover {
    opacity: 0.7;
  }
}

.button-add-column {
  flex-shrink: 0;
  max-width: 280px;
  height: calc(100% - 2em);
  margin-top: 1.5em;
  margin-left: auto;
  border-radius: 10px;
  font-size: 1.5em;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.button-popup {
  width: unset;
  border-radius: 30px;
  padding: 0.5em 0.75em;
}

.button-show-sidebar {
  position: fixed;
  bottom: 1.5em;
  max-width: 60px;
  padding: 0.75em 1em;
  border-radius: 0 30px 30px 0;
  &:hover {
    transform: scale(1.15);
  }
}
